body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

#hero {
  background-color: #050505;
  display: flex;
  align-items: center;
  height: 92vh;
}

/* Navbar */
#hero .nav-bucket .nav-btn {
  text-align: right;
}

#hero .nav-bucket .nav-btn .nav-toggle {
  border: none;
  background: none;
}

#hero .nav-bucket .nav-btn .nav-toggle i {
  color: #fff;
  font-size: 28px;
}

#hero .nav-bucket .nav-links .links {
}

#hero .nav-bucket .nav-links .links li {
}

#hero .nav-bucket .nav-links .links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/* Hero Content */
#hero .hero-cnt .hero-cnt-hdng {
}

#hero .hero-cnt .hero-cnt-hdng h1 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#hero .hero-cnt .hero-cnt-title {
  margin: 20px 0 8px;
}

#hero .hero-cnt .hero-cnt-title h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

#hero .hero-cnt .hero-cnt-title span {
  color: #fff;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 2px;
}

#hero .social-links {
  margin-top: 40px;
  text-align: center;
}

#hero .social-links a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

#hero .social-links i {
  color: #fff;
}

#credits {
  background: rgba(0, 0, 0, 0.8);
}

#credits .crdts-cnt {
  padding: 10px;
  text-align: center;
}

#credits .crdts-cnt p {
  margin: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

#credits .crdts-cnt a {
  color: #18d26e;
  text-decoration: none;
}

@media (min-width: 576px) {
  #hero .hero-cnt .hero-cnt-title h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #hero .nav-bucket .nav-btn .nav-toggle i {
    display: none;
  }

  #hero .social-links {
    margin-top: 70px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #hero .hero-cnt .hero-cnt-hdng h1 {
    text-align: left;
  }

  #hero .hero-cnt .hero-cnt-title h2 {
    text-align: left;
  }

  #hero .social-links {
    text-align: left;
  }

  #credits .crdts-cnt {
    text-align: right;
  }
}

@media (min-width: 1400px) {
}
