body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

#header {
  background: #e9e8e6;
  padding: 15px 0;
}

#header .header-main .header-title {
}

#header .header-main .header-title a {
  font-size: 28px;
  color: #222222;
  font-weight: 400;
}

#header .header-main .header-links-nav {
  padding-left: 40px;
}

#header .header-main .header-links {
  padding-right: 15px;
}

#header .header-main .header-links ul li a {
  color: #6f6f6f;
  font-size: 18px;
  padding-left: 6px;
}

#header .header-main .header-nav {
}

#header .header-main .header-nav .header-nav-btn {
}

#header .header-main .header-nav .header-nav-btn .nav-toggle {
  border: none;
  color: #6f6f6f;
  font-size: 28px;
  background: none;
}

#header .header-main .header-nav .header-nav-links .links {
  overflow: hidden;
  height: 0;
}

#header .header-main .header-nav .header-nav-links .links a {
  display: block;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #header .header-nav {
  }

  #header .header-nav .header-nav-btn .nav-toggle {
    display: none;
  }

  #header .header-main .header-nav .header-nav-links {
    position: relative;
  }

  #header .header-main .header-nav .header-nav-links .links {
    height: auto;
    position: absolute;
    top: -23px;
    right: 125px;
  }

  #header .header-main .header-nav .header-nav-links .links li {
    padding: 10px 0 10px 30px;
  }

  #header .header-main .header-nav .header-nav-links .links li a {
    color: #888888;
    font-size: 15px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
  }

  #header .header-main .header-nav .header-nav-links .links li .active {
    color: #222222;
  }

  #header .header-main .header-nav .header-nav-links .links li .active::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #34b7a7;
    width: 25px;
    bottom: 9px;
    left: 31px;
  }
}

@media (min-width: 1200px) {
  #header .header-main .header-nav .header-nav-links .links {
    height: auto;
    position: absolute;
    top: -23px;
    right: 190px;
  }
}

@media (min-width: 1400px) {
  #header .header-main .header-nav .header-nav-links .links {
    height: auto;
    position: absolute;
    top: -23px;
    right: 360px;
  }
}
