@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap");
@import "./breakpoints/breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Color Variables
$primary: crimson;
$light: #fff;
$dark: #000000;

// Common Styling
.filled-button {
  font-size: 20px;
  font-weight: 400;
  color: $light;
  background: $primary;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid $primary;
  transition: all 0.3s ease;

  &:hover {
    color: $primary;
    background: $light;
  }

  @include for-tablet-portrait-up {
    font-size: 23px;
  }

  @include for-tablet-landscape-up {
    font-size: 25px;
    padding: 12px 36px;
  }
}

// End Common Styling

// Header Section
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  background: $dark;
  transition: all 0.3s ease;

  @include for-phone-only {
    background-color: $dark;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        color: $light;
        font-size: 35px;
        font-weight: 600;
        text-decoration: none;
      }

      span {
        color: $primary;
      }
    }

    .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding: 30px 0 0 0;
      transition: all 0.3s ease;
      @include for-tablet-landscape-up {
        position: unset;
        margin: 0;
        height: auto;
        background: #000000;
        padding: 0;
        display: block;
        text-align: right;
      }

      .close-menu{
        margin: 1rem;
        text-align: right;
        @include for-tablet-landscape-up{
          display: none;
        }
      }

      li {
        list-style-type: none;
        display: block;
        margin: 1rem 0;

        @include for-tablet-landscape-up {
          display: inline-block;
        }

        a {
          color: $light;
          // display: inline-block;
          font-size: 25px;
          margin: 20px 0;
          font-size: 25px;
          text-decoration: none;

          @include for-tablet-landscape-up {
            font-size: 18px;
            font-weight: 500;
            // display: block;
            margin: 0 0 0 25px;

            &:hover {
              color: $primary;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }

    .menu-btn {
      @include for-tablet-landscape-up {
        display: none;
      }
    }
  }
}

.header .menu.active {
  left: 0;
}

.header.sticky {
  background: $primary;
  padding: 15px 0;

  .menu-wrapper {
    .logo {
      span {
        color: $light;
      }
    }

    .menu {
      background: $primary;
      li {
        a {
          &:hover {
            color: $light;
          }
        }
      }
    }
  }
}

// Header Section Ends

// Hero Section Starts
.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  background: $dark;
  font-family: "Ubuntu", sans-serif;

  p {
    font-size: 27px;
    color: $light;
    margin: 0;

    span {
      color: $primary;
      font-weight: 500;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 600;
    color: $light;
    margin: 0;

    @include for-tablet-portrait-up {
      font-size: 70px;
    }

    @include for-tablet-landscape-up {
      font-size: 75px;
    }
  }

  .mydetails {
    margin: 5px 0;

    @include for-tablet-portrait-up {
      font-size: 35px;
    }

    @include for-tablet-landscape-up {
      font-size: 40px;
    }
  }

  .filled-button {
    &:hover {
      background: transparent;
    }
  }
}

// End Hero Section

// About Section
.about {
  padding: 6.3rem 0;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;

    &::after {
      content: "who i am";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: $primary;
      background: $light;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $dark;
      height: 0.2rem;
      width: 11rem;
    }
  }

  .about-content {
    .about-content-left {
      margin-bottom: 4rem;

      @include for-tablet-portrait-up {
        text-align: center;
      }

      img {
        width: 100%;

        @include for-tablet-portrait-up {
          height: 22rem;
          width: 22rem;
        }
      }
    }

    .about-content-right {
      font-family: "Poppins", sans-serif;

      .text {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.7rem;

        @include for-tablet-portrait-up {
          font-size: 1.6rem;
        }

        span {
          color: $primary;
          font-weight: 500;
        }
      }

      p {
        font-size: 1rem;
        text-align: justify;
        margin: 0;
      }
    }
  }
}

// End About Section

// Services Section
.services {
  padding: 6.3rem 0;
  background: $dark;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    color: $light;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;

    &::after {
      content: "what i provide";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: $primary;
      background: $dark;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $light;
      height: 0.2rem;
      width: 11rem;
    }
  }

  .services-card {
    background: #222;
    text-align: center;
    padding: 3rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;

    .services-card-body {
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }

      img {
        width: 3rem;
        margin: 0 auto;
      }

      .non-hover {
        display: block;
      }

      .on-hover {
        display: none;
      }

      h2 {
        font-size: 1.6rem;
        font-weight: 500;
        color: $light;
        margin: 0.7rem 0 0.7rem 0;
      }

      p {
        font-size: 1rem;
        color: $light;
        margin: 0;
      }
    }

    &:hover {
      background: $primary;

      .on-hover {
        display: block;
      }

      .non-hover {
        display: none;
      }
    }
  }
}

// End Services Section

// Skills Section Starts
.skills {
  padding: 6.3rem 0;
  font-family: "Poppins", sans-serif;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;

    &::after {
      content: "what i know";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: $primary;
      background: $light;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $dark;
      height: 0.2rem;
      width: 11rem;
    }
  }

  .skills-content {
    .skills-content-left {
      margin-bottom: 3rem;

      @include for-tablet-landscape-up {
        margin-bottom: 0rem;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.9rem;
      }

      p {
        font-size: 1rem;
        text-align: justify;
        margin: 0;
      }
    }

    .skills-content-right {
      .bars {
        margin-bottom: 1rem;

        .skills-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.3rem;

          span {
            font-size: 1.15rem;
            font-weight: 500;
          }
        }

        .skills-line {
          position: relative;
          width: 100%;
          height: 0.3rem;
          background-color: #ccc;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: $primary;
          }
        }

        .html {
          &::before {
            width: 90%;
          }
        }

        .css {
          &::before {
            width: 90%;
          }
        }

        .js {
          &::before {
            width: 70%;
          }
        }

        .bootstrap {
          &::before {
            width: 80%;
          }
        }
      }
    }
  }
}

// Skills Section Ends

// Teams Section Starts
.teams {
  padding: 6.3rem 0;
  font-family: "Poppins", sans-serif;
  background: $dark;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    color: $light;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;

    &::after {
      content: "who with me";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: $primary;
      background: $dark;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $light;
      height: 0.2rem;
      width: 11rem;
    }
  }

  .teams-slider {
    margin-top: 7rem;

    .teams-card {
      background: #222;
      padding: 2rem;
      margin: 0 1rem;
      border-radius: 0.5rem;

      .teams-card-body {
        .team-img {
          text-align: center;

          img {
            height: 9rem;
            width: 9rem;
            margin: 0 auto;
            object-fit: cover;
            border-radius: 50%;
            border: 0.2rem solid $primary;
          }
        }

        h2 {
          font-size: 1.8rem;
          color: $light;
          text-align: center;
          margin: 1rem 0;

          @include for-tablet-landscape-up {
            font-size: 1.6rem;
          }

          @include for-desktop-up {
            font-size: 2rem;
          }
        }

        p {
          font-size: 1.1rem;
          color: $light;
          text-align: center;
        }

        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease;
        }
      }

      &:hover {
        background-color: $primary;

        .team-img {
          img {
            border: 0.2rem solid $light;
          }
        }
      }
    }
  }

  .slick-dots {
    bottom: -3rem;

    li {
      button {
        width: 0.9rem;
        height: 0.9rem;
        display: inline-block;
        cursor: pointer;
        background-color: $light;
        border: 0.1rem solid $primary;
        border-radius: 2rem;

        &::before {
          display: none;
        }
      }
    }

    .slick-active {
      button {
        background-color: $primary;
      }
    }
  }
}

// Teams Section Ends

// Contact Section Starts
.contact {
  padding: 6.3rem 0;
  font-family: "Poppins", sans-serif;
  background: $light;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    color: $dark;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;

    &::after {
      content: "get in touch";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: $primary;
      background: $light;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $dark;
      height: 0.2rem;
      width: 11rem;
    }
  }

  .contact-inner-details {
    .contact-details {
      margin-bottom: 3rem;

      @include for-tablet-portrait-up {
        margin-bottom: 0;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.9rem;
      }

      p {
        font-size: 1rem;

        @include for-phone-only {
          word-spacing: 0rem;
        }

        @include for-tablet-landscape-up {
          word-spacing: 0.5rem;
        }
      }
    }

    .contact-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .contact-icon {
        img {
          width: 2rem;
        }
      }

      .contact-info {
        margin-left: 1.5rem;

        h4 {
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0 0 0.2rem;
        }

        p {
          font-size: 1rem;
          color: #333;
          margin: 0;
        }
      }
    }

    .message-me {
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.9rem;
      }

      form {
        .form-control {
          border: 0.1rem solid lightgrey;
          font-family: "Poppins", sans-serif;
          transition: all 0.3s ease;

          &:focus {
            box-shadow: none;
          }
        }

        button {
          font-size: 1.1rem;
          padding: 0.5rem 1.1rem;
          margin: 0;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

// Contact Section Ends

// Footer Section Starts
footer {
  background-color: $dark;
  font-family: "Poppins", sans-serif;
  padding: 1.5rem;

  @include for-tablet-portrait-up {
    padding: 1rem;
  }

  span {
    font-size: 1rem;
    color: $light;
    margin: 0;
    display: block;
    text-align: center;

    a {
      font-size: 1rem;
      color: $primary;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }

    img {
      width: 1rem;
    }
  }
}

// Footer Section Ends