@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap");
@import "./breakpoints/breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Common Styling
.filled-button {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: crimson;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  &:hover {
    color: crimson;
    background: #fff;
  }
  @include for-tablet-portrait-up {
    font-size: 23px;
  }
  @include for-tablet-landscape-up {
    font-size: 25px;
    padding: 12px 36px;
  }
}
// End Common Styling

// Header Section
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  background: #000000;
  transition: all 0.3s ease;
  @include for-phone-only {
    background-color: #000000;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        text-decoration: none;
      }
      span {
        color: crimson;
      }
    }
    .menu {
      display: none;
      // position: fixed;
      // height: 100vh;
      // width: 100%;
      // left: -100%;
      // top: 0;
      // background: #111;
      // text-align: center;
      // padding: 80px 0 0 0;
      // transition: all 0.3s ease;
      @include for-tablet-landscape-up {
        margin: 0;
        display: block;
      }
      li {
        list-style-type: none;
        display: block;
        @include for-tablet-landscape-up {
          display: inline-block;
        }
        a {
          color: #fff;
          // display: inline-block;
          font-size: 25px;
          margin: 20px 0;
          font-size: 25px;
          text-decoration: none;
          @include for-tablet-landscape-up {
            font-size: 18px;
            font-weight: 500;
            // display: block;
            margin: 0 0 0 25px;
            &:hover {
              color: crimson;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }
    .menu-btn {
      @include for-tablet-landscape-up {
        display: none;
      }
    }
  }
}

.header .menu.active {
  left: 0;
}

.header.sticky {
  background: crimson;
  padding: 15px 0;
  .menu-wrapper {
    .logo {
      span {
        color: #fff;
      }
    }
    .menu {
      li {
        a {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
// End Header Section

// Hero Section
.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  background: #000000;
  font-family: "Ubuntu", sans-serif;
  p {
    font-size: 27px;
    color: #fff;
    margin: 0;
    span {
      color: crimson;
      font-weight: 500;
    }
  }
  h1 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    @include for-tablet-portrait-up {
      font-size: 70px;
    }
    @include for-tablet-landscape-up {
      font-size: 75px;
    }
  }
  .mydetails {
    margin: 5px 0;
    @include for-tablet-portrait-up {
      font-size: 35px;
    }
    @include for-tablet-landscape-up {
      font-size: 40px;
    }
  }
  .filled-button {
    &:hover {
      background: transparent;
    }
  }
}
// End Hero Section

// About Section
.about {
  padding: 6.3rem 0;
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;
    &::after {
      content: "who i am";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: crimson;
      background: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #000000;
      height: 0.2rem;
      width: 11rem;
    }
  }
  .about-content {
    .about-content-left {
      margin-bottom: 4rem;
      @include for-tablet-portrait-up {
        text-align: center;
      }
      img {
        width: 100%;
        @include for-tablet-portrait-up {
          height: 22rem;
          width: 22rem;
        }
      }
    }
    .about-content-right {
      font-family: "Poppins", sans-serif;
      .text {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.7rem;
        @include for-tablet-portrait-up {
          font-size: 1.6rem;
        }
        span {
          color: crimson;
          font-weight: 500;
        }
      }
      p {
        font-size: 1rem;
        text-align: justify;
        margin: 0;
      }
    }
  }
}
// End About Section

// Services Section
.services {
  padding: 6.3rem 0;
  background: #000000;
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;
    &::after {
      content: "who i provide";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: crimson;
      background: #000000;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      height: 0.2rem;
      width: 11rem;
    }
  }
  .services-card {
    background: #222;
    text-align: center;
    padding: 3rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;
    .services-card-body {
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }
      img {
        width: 3rem;
        margin: 0 auto;
      }
      .non-hover {
        display: block;
      }
      .on-hover {
        display: none;
      }
      h2 {
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
        margin: 0.7rem 0 0.7rem 0;
      }
      p {
        font-size: 1rem;
        color: #fff;
        margin: 0;
      }
    }
    &:hover {
      background: crimson;
      .on-hover {
        display: block;
      }
      .non-hover {
        display: none;
      }
    }
  }
}
// End Services Section

// Skills Section Starts
.skills {
  padding: 6.3rem 0;
  font-family: "Poppins", sans-serif;
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Ubuntu", sans-serif;
    &::after {
      content: "what i know";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      padding: 0 0.5rem;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: crimson;
      background: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #000000;
      height: 0.2rem;
      width: 11rem;
    }
  }
  .skills-content {
    .skills-content-left {
      margin-bottom: 3rem;
      @include for-tablet-landscape-up {
        margin-bottom: 0rem;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.9rem;
      }
      p {
        font-size: 1rem;
        text-align: justify;
        margin: 0;
      }
    }
    .skills-content-right {
      .bars {
        margin-bottom: 1rem;
        .skills-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.3rem;
          span {
            font-size: 1.15rem;
            font-weight: 500;
          }
        }
        .skills-line {
          position: relative;
          width: 100%;
          height: 0.3rem;
          background-color: #ccc;
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: crimson;
          }
        }
        .html {
          &::before {
            width: 90%;
          }
        }
        .css {
          &::before {
            width: 90%;
          }
        }
        .js {
          &::before {
            width: 70%;
          }
        }
        .bootstrap {
          &::before {
            width: 80%;
          }
        }
      }
    }
  }
}
// Skills Section Ends
